
  <!-- <button type="submit" class="btn btn-primary btn-lg bgcolor-secundario bordecolor-secundario"
  style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button> -->
  <!-- <button type="button" class="btn btn-secondary">Secondary</button> -->
  <!-- <a class="btn btn-secondary" >Reparación de calles y aceras</a>
  <a class="btn btn-secondary">Recolección de basura y residuos</a>
  <a class="btn btn-secondary">Mantenimiento de parques y alumbrado público</a>
  <a class="btn btn-secondary">Gestión de emergencias a desastres naturales</a> -->

{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <h1>{{ title }}</h1>

  <form action="{% url 'reporte' %}" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" name="reporte" value="reparacion" class="btn btn-secondary btn-sm">Reparación de calles y aceras</button>
  </form>

  <form action="{% url 'reporte' %}" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" name="reporte" value="recoleccion" class="btn btn-secondary btn-sm">Recolección de basura y residuos</button>
  </form>

  <form action="{% url 'reporte' %}" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" name="reporte" value="mantenimiento" class="btn btn-secondary btn-sm">Reparación de calles y aceras</button>
  </form>

  <form action="{% url 'reporte' %}" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" name="reporte" value="gestion" class="btn btn-secondary btn-sm">Recolección de basura y residuos</button>
  </form>


</div>

{% endblock %}