<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Comunica Gob</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'reporte' %}" class="nav-link">Reportar</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'misreportes' %}" class="nav-link">Mis Reportes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'verperfil' %}" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cérrar sesion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'signin' %}" class="nav-link">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>