{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>{{title}}</h1>

  <div class="col-12 mt-5">
    <form action="{% url 'reporte' %}" method="POST" id="producto_form" class="needs-validation" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          {{form.estado.label}}
          {{form.estado}}
        </div>
        <div class="mb-3">
          {{form.ciudad.label}}
          {{form.ciudad}}
        </div>
        <div class="mb-3">
          {{form.descripcion.label}}
          {{form.descripcion}}
        </div>
        <div class="mb-3">
          {{form.colonia.label}}
          {{form.colonia}}
        </div>
        <div class="mb-3">
          {{form.calle.label}}
          {{form.calle}}
        </div>
        <div class="mb-3">
          {{form.numero.label}}
          {{form.numero}}
        </div>
        <div class="mb-3">
          {{form.codigo_postal.label}}
          {{form.codigo_postal}}
        </div>
          <input type="hidden" id="id_formulario">
          <input type="hidden" name="tipo_reporte" value="{{tipo_reporte}}">
          <button type="submit" class="btn btn-secondary" style="margin-bottom: 50px;">Guardar</button>
    </form>
</div>


</div>

{% endblock %}