{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h1 class="card-title">Comunica Gob</h1>
      <p class="card-text lead">
        Comunica Gob es una aplicación que apoya en el manejo de las solicitudes por los ciudadanos, como:
      </p>
      <ul class="list-group mb-4">
        <li class="list-group-item">Reparación de calles y aceras</li>
        <li class="list-group-item">Recolección de basura y residuos</li>
        <li class="list-group-item">Mantenimiento de parques y alumbrado público</li>
        <li class="list-group-item">Gestión de emergencias a desastres naturales</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
